body {
  background-image: url("images/pattern.png");
  background-size: 200px;
  min-width: 1200px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-column: span 4;
  background-color: #d9d9d9;
  color: #2697f9;
  margin: 0 20px 0px 20px;
  border: 3px solid #2697f9;
  border-radius: 20px;
  font-family: 'Pacifico', cursive;
}

h1 {
  padding-left: 10px;
}

nav {
  display: block;
  font-size: 30px;
  font-family: Helvetica;
  grid-column: span 1;
  background-color: #dbdbdb;
  margin: 0 65px 25px 65px;
  border: 3px solid #2697f9;
  width: 250px;
  height: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  padding: 0;
  background: #1c94ff;
  border-top: 3px solid #2697f9;
  border-bottom: 3px solid #2697f9;
}

nav li a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

nav li a:hover {
  background: #005aaa;
  text-decoration: none;
}

figure {
  height: 400px;
  width: 342px;
  grid-column: span 2;
  margin: 10px 0 30px 270px;
  align-self: center;
}

figure img {
  display: block;
  border: 3px solid #2697f9;
  width: 100%;
  height: 100%;
}

#tower {
  height: 400px;
  grid-column: span 2;
  margin: 10px 0 30px 30px;
  align-self: center;
}

#tower img {
  display: block;
  border: 3px solid #2697f9;
  width: 100%;
  height: 100%;
}

aside {
  grid-column: span 1;
  padding: 0;
  margin-left: 160px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  width: 250px;
  height: 400px;
  border: 3px solid #1c94ff;
  background-color: #dbdbdb;
  border-radius: 50px;
  text-align: center;
}

aside h2 {
  margin: 0;
  font-size: 50px;
  padding-top: 10px;
  text-decoration: underline;
  text-align: center;
  color: #1c94ff;
  font-family: 'Pacifico', cursive;
}

aside a {
  transition: color 0.75s;
}

aside a:hover {
  color: #030053;
}

.icon {
  color: #1c94ff;
  font-size: 130px;
}

.contact {
  color: #1c94ff;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#gvideo {
  grid-column: span 2;
  margin: 20px 65px 16px 115px;
}

main {
  display: block;
  color: #1c94ff;
  font-family: Georgia;
  grid-column: span 4;
  border: 3px solid #2697f9;
  background-color: #d9d9d9;
  padding: 10px;
  margin: 20px 300px 30px 300px;
  border-radius: 30px;
  line-height: 150%;
}

main a {
  color: #1c94ff;
}

main a:hover {
  color: #030053;
}

main a:visited {
  color: #030053;
  text-decoration: none;
}

.carousel {
  color: #2697f9;
  grid-column: span 2;
  width: 60%;
  height: 400px;
  margin-top: 10px;
  margin-left: 150px;

  --carousel-button-bg: #d9d9d9;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;

  border: 3px solid #2697f9;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%!important;
  padding: 0!important;
  overflow: hidden!important;
}

.slide {
  width: 100%;
  padding: 0;
}
