body {
  background-color: #040453;
  min-width: 900px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-column: span 4;
  background-color: #d9d9d9;
  color: #2697f9;
  margin: 20px 20px 0px 20px;
  border: 3px solid #2697f9;
}

h1 {
  padding-left: 10px;
}

nav {
  display: block;
  font-size: 30px;
  font-family: "Comic Sans MS";
  grid-column: span 1;
  background-color: #dbdbdb;
  margin: 0 65px 25px 65px;
  border: 3px solid #2697f9;
  min-width: 250px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  padding: 0;
  background: #1c94ff;
  border-top: 3px solid #2697f9;
  border-bottom: 3px solid #2697f9;
}

nav li a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

nav li a:hover {
  background: #005aaa;
  text-decoration: none;
}

figure {
  height: 400px;
  width: 1000px;
}

figure img {
  display: block;
  grid-column: span 3;
  margin-right: 100px;
  border: 3px solid #2697f9;
  width: 100%;
  height: 100%;
}

main {
  display: block;
  color: #1c94ff;
  font-family: "Comic Sans MS";
  grid-column: span 4;
  border: 3px solid #2697f9;
  background-color: #d9d9d9;
  padding: 10px;
  margin: 10px 200px 30px 100px;
}
